* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.box {
    width: 300px;
    min-height: 400px;
    border: 2px dashed #fff;
    padding: 10px;
}

.list {
    background: #e91e63;
    height: 60px;
    margin: 15px 0;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    border-radius: 5px;
    padding: 0 15px;
}


.file-box {
    color: #fff;
}

.file-item {
    background: #03a9f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.hint {
    text-align: center;
    opacity: 0.7;
}
